
DATABASE_URL="postgresql://USER:PASSWORD@EP-XXXX-pooler.REGION.aws.neon.tech/DB_NAME?sslmode=require&pgbouncer=true&connect_timeout=15"
DIRECT_URL="postgresql://USER:PASSWORD@EP-XXXX.REGION.aws.neon.tech/DB_NAME?sslmode=require&connect_timeout=15"
